<suite name="Test - Suite">
<test name="RO">
<classes >
<class name="ROAutomation.LaunchApp"></class>
 <class name="ROAutomation.vehicle"></class> 

</classes>
</test>
<listeners> 

 <listener class-name="utility.Listener"></listener> 
 <!-- <listener class-name="utility.TestNGEmailableReport2"></listener> -->
 

 </listeners> 

</suite>